<Metadata>
  <Name>{{MOD_NAME}}</Name>
  <Description>{{DESCRIPTION}}</Description>
  <Author>{{AUTHOR}}</Author>
  <Version>{{VERSION}}</Version>
  <LibraryName>{{LIBRARY_NAME}}</LibraryName>
  <Entrypoint>{{ENTRYPOINT}}</Entrypoint>
  <Dependencies>
    <DependencyInfo Name="HAT" MinimumVersion="3.0" />
  </Dependencies>
</Metadata>
